<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contacto</h1>

      <!-- Contacto -->
  <section id="contacto">
    <h2>Contacto</h2>

    <ul>
      <li class="contacto-list">
        <a href="mailto:andresppemma@gmail.com" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/ios/50/mail.png" alt="mail" />
        </a>
      </li>
      <li class="contacto-list">
        <a href="tel:+573127743932" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone" />
        </a>
      </li>
      <li class="contacto-list">
        <a href="https://www.linkedin.com/in/andres-castro-b64271255/" target="_blank">
          <img width="50" height="50" src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin" />
        </a>
      </li>
    </ul>

    <div id="formulario-contacto">
      <h2 class="contacto-titulo">Ponte en contacto conmigo</h2>

      <div>
        <label><strong>Nombre:</strong></label><br>
        <input id="nombre" class="input-text" type="text" placeholder="Tu nombre" />
      </div>

      <div>
        <label><strong>Email:</strong></label><br>
        <input id="email" class="input-text" type="email" placeholder="tu-email@ejemplo.com" />
      </div>

      <div>
        <label><strong>Mensaje:</strong></label><br>
        <textarea id="mensaje" class="input-text" placeholder="Pon tu correo en el mensaje también"></textarea>
      </div>

      <div>
        <button id="enviar-mensaje">Enviar</button>
        <dialog id="dialogo-mensaje">
          Pronto responderemos su mensaje.
          <button id="cerrar-dialogo">Cerrar</button>
        </dialog>
      </div>
    </div>


  </section>
</body>
</html>