<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Desarrollador Web Full Stack</h1>
      <section id="inicio">
    <div>
      <img id="foto-perfil" src="assets/image/avatar.jpg" alt="Foto de perfil" />
      <h1>Andrés Arturo Castro Orozco</h1>
      <p>Desarrollador Web Full Stack y estudiante de Ingeniería de Software.</p>
    </div>
  </section>

</body>
</html>