<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>proyectos</h1>

      <!-- Proyectos -->
 
  <section id="proyectos">
    <div class="proyecto">
      <h3>Rick and Morty API</h3>
      <p>Aplicación web desarrollada con React basada en la serie "Rick and Morty", que consume una API para mostrar información de los personajes.</p>
      <img id="img-proyect" src="assets/image/imagenR-a-M.png" alt="proyecto 1" />
      <div class="botones">
        <a href="https://rick-and-morty-api-andrew.netlify.app/" target="_blank" class="boton">Ver proyecto</a>
        <a href="https://github.com/elcasti04/rick-and-morty-api" target="_blank" class="boton">Repositorio</a>
      </div>
    </div>

    <div class="proyecto">
      <h3>Frases motivacionales APP</h3>
      <p>Aplicación web creada con React que muestra frases motivacionales y de reflexión de manera aleatoria.</p>
      <img id="img-proyect" src="assets/image/img-F-app.png" alt="proyecto 2" />
      <div class="botones">
        <a href="https://motivational-frases.netlify.app/" target="_blank" class="boton">Ver proyecto</a>
        <a href="https://github.com/elcasti04/frases-app" target="_blank" class="boton">Repositorio</a>
      </div>
    </div>

    <div class="proyecto">
      <h3>Wheater APP</h3>
      <p>Aplicación desarrollada con React que muestra información del clima de cualquier ciudad del mundo consumiendo datos desde una API.</p>
      <img id="img-proyect" src="assets/image/imgW-app.png" alt="proyecto 3" />
      <div class="botones">
        <a href="https://wheaterclima-app.netlify.app/" target="_blank" class="boton">Ver proyecto</a>
        <a href="https://github.com/elcasti04/clima-App" target="_blank" class="boton">Repositorio</a>
      </div>
    </div>

    <div class="proyecto">
      <h3>Poke-Dex APP</h3>
      <p>Aplicación desarrollada con TypeScript que muestra pokémones e información detallada de cada uno, consumiendo datos desde una API.</p>
      <img id="img-proyect" src="assets/image/pokemon.jpg" alt="proyecto 4" />
      <div class="botones">
        <a href="https://pokedexapi-aa.netlify.app/" target="_blank" class="boton">Ver proyecto</a>
        <a href="https://github.com/elcasti04/pokedex-app" target="_blank" class="boton">Repositorio</a>
      </div>
    </div>
  </section>
</body>
</html>