<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Habilidades</h1>

      <!-- Habilidades -->
  <section id="habilidades">
    <h2>Habilidades</h2>
    <ul>
      <li class="Habilidades-T">
        <img src="assets/image/iconos/icono-html.gif" alt="html-icono" /> <br> HTML
        <hr>
        <p>Tengo un sólido dominio de HTML5, lo que me permite estructurar páginas web de manera clara, semántica y accesible.</p>
      </li>

      <li class="Habilidades-T">
        <img src="https://img.icons8.com/ios/50/css3.png" alt="css3-icono" /> <br> CSS
        <hr>
        <p>Disfruto trabajar con CSS, ya que me permite dar estilo, color y vida a las páginas con tipografías modernas y efectos dinámicos.</p>
      </li>

      <li class="Habilidades-T">
        <img src="assets/image/iconos/icons8-react-native.gif" alt="react-icono" /> <br> React
        <hr>
        <p>Manejo React.js para crear interfaces modernas, modulares y eficientes con componentes reutilizables y hooks.</p>
      </li>

      <li class="Habilidades-T">
        <img width="50" height="50" src="https://img.icons8.com/windows/50/node-js.png" alt="node-js" /> <br> Node.js
        <hr>
        <p>Con Node.js desarrollo el lado del servidor, creando aplicaciones rápidas, eficientes y escalables.</p>
      </li>

      <li class="Habilidades-T">
        <img src="assets/image/iconos/icons8-javascript.gif" alt="JS-icono" /> <br> JavaScript
        <hr>
        <p>Con JavaScript hago que las páginas sean interactivas, ofreciendo experiencias dinámicas y fluidas.</p>
      </li>
    </ul>

    <h2>Habilidades Blandas</h2>
    <hr>
    <ul>
      <li id="valores-list">Comunicación efectiva</li>
      <li id="valores-list">Resolución de problemas</li>
      <li id="valores-list">Adaptabilidad</li>
      <li id="valores-list">Gestión del tiempo</li>
    </ul>
  </section>
</body>
</html>